@import url('https://fonts.googleapis.com/css?family=Alegreya+Sans+SC:400i|Alfa+Slab+One|Roboto:900');

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  color: #512410;
  background: aliceblue;
}

#header h1{
  font-size: 30px;
  text-align: center;
}

h2 {
  font-family: 'Alegreya Sans SC', sans-serif;
  font-size: 2em;
}

button {
  display: inline-block;
  width: 20%;
  margin-right: 10px;
  margin-left: 20px;
  height: 70px;
  font-size: 0.4em;
  border-radius: 10px;
  background: #70ffb9;
  margin-top: 2.5%;
  margin-bottom: 3%;
}

#gobutton {
  background-color: #70ffb9;
  margin-left: 40%;
}


.upper{
  position: relative;
  background: white;
  height: 200px;
  width: 49.5%;
  font-size: 50px;
  float: right;
  right: 2px;
  background: aliceblue;
}

.buttonz{
  width: 20%;
  height: 60px;
  font-size: 0.22em;
  font-weight: bold;
  border-radius: 10px;
  background: rgba(242,246,248,1);
  margin-bottom: -22%;

}

.resDataDiv{
  font-size: 0.4em;
  color: black;
  height: 250px;
  width: 550px;
  margin: 0 auto;
  margin-top: 5%;
}

.ResName{
  font-size: 1.2em;
  font-weight: bold;
  text-align: center;
}

.resDataDiv p{
  margin-bottom: 4%;
}

.resDataDiv p:hover{
  background: #c4daed;
  transform: scale(1.005);
}

.rating{
  margin-top: -2.8%;
  color: #e8d33c;
  font-size: 0.8em;
  font-weight: bold;
  text-align: center;
}

@media (min-width: 1000px) {

  #map {
      height: 20%;
      }
  }

